* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f1f1f1;
  height: 100vh;
}

body header {
  text-align: center;
  width: 100%;
  height: 5rem;
  background-color: lightgreen;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .inputs-container {
  background-color: pink;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .inputs-container .input label {
  font-size: 2.5rem;
  font-weight: bold;
}

body .container .inputs-container .input input {
  height: 5rem;
  width: 30rem;
}

body .container .inputs-container input {
  font-size: 3rem;
  padding: .5rem;
}

body .container .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

body .container .cards-container:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body .container .cards-container .inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: none;
  font-size: 5rem;
}

body .container .cards-container .inner-card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body .container .cards-container .inner-card .card-front,
body .container .cards-container .inner-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

body .container .cards-container .visible {
  display: inline-block;
}

body .container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
}

body .container .buttons button {
  font-size: 3rem;
}

body .container .buttons p {
  width: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */