@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    background: rgb(175,46,212);
background: linear-gradient(90deg, rgba(175,46,212,1) 34%, rgba(109,37,221,1) 65%);

    header {
        text-align: center;
        width: 100%;
        height: 5rem;
        background-color: #F21170;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .inputs-container {

            margin: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            .input {

                label {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #00FFDD;
                }

                input {
                    height: 5rem;
                    width: 30rem;
                    border-style: none;
                    border-bottom: solid 3px #00EAD3;
                    font-size: 3rem;
                    background-color: transparent;


                    &:focus {
                        outline: none;

                    }

                }
            }

            #add-button {
                font-size: 3rem;
                padding: .5rem;
                border-style: none;
                background-color: #88FFF7;
                
            }


        }

        .cards-container {

            display: flex;
            height: 25rem;
            width: 60rem;
            //background-color: pink;


            .inner-card {
                //margin: 5rem;


                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;


                height: 25rem;
                width: 60rem;
                display: none;

                position: relative;

                p {
                    font-size: 7rem;
                    font-family: 'Caveat', cursive;
                    color: white;
                    font-weight: bold;
                }

                .card-front,
                .card-back {

                    width: 100%;
                    height: 100%;
                    position: absolute;
                    line-height: 25rem;
                    cursor: pointer;

                }

                .card-front {
                    background-color: #FF6464;


                }

                .card-back {
                    background-color: #91C483;

                }

                .none {
                    display: none;
                }

            }

            .show {
                display: inline-block;
            }

        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            button {
                font-size: 3rem;
            }

            p {
                width: 5rem;
                font-size: 2rem;
                line-height: 5rem;
                text-align: center;
                font-weight: bold;
            }
        }
    }

}